/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
}

img,
picture,
video {
  max-width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
/* End reset */

img {
    border: 1px solid darkgray;
}
h4 {
  color: antiquewhite;
  background-color: azure;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
}